*
{
    margin: 0px;
    padding: 0px;
}
/* navbar */
nav{
    background-color: rgb(233, 233, 10);
}
#divid1>h1{
    font-family: 'Bitter', serif;
    text-shadow: 2px 2px 4px #f0f1de;
}

#divid1
{
    display: flex;
    
align-items: center;
}
#divid1>img
{
    height: 50px;
 width: 45px;   
}
/* div  */
.btn-div{
    margin-left: 50%;
    margin-top: 3vh;
}
.btn-div>button
{
    background-color: yellowgreen;
    padding: 5px;
    border-radius: 6px;
    box-shadow: rgb(97, 119, 62);
}
.btn-div>button:hover{
    background-color: yellow;  
}
.note
{
    margin-left: 46%;
    margin-top: 5vh;
}
.operation>button
{
    background-color: yellowgreen;
    padding: 5px;
    margin-left: 3vh;
    border-radius: 6px;
    box-shadow: rgb(97, 119, 62);
}
img{
    height: 15px;
}
.operation>button:hover{
    background-color:rgb(97, 119, 62);
   border-color:rgb(104, 223, 130);
}

 textarea
{
    height: 200px;
    width: 200px;
    border-radius: 5px;
}