*
{
    margin: 0px;
    padding: 0px;
}
/* navbar */
nav{
    background-color: rgb(122, 122, 112);
}
#divid1>h1{
    font-family: 'Bitter', serif;
    text-shadow: 2px 2px 4px #f0f1de;
}

#divid1
{
    display: flex;
    
align-items: center;
}
#divid1>img
{
    height: 50px;
 width: 55px;   
}
/* div  */
.btn-div{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}
.btn-div>button
{
    background-color: rgb(211, 211, 195);
    padding: 5px;
    border-radius: 6px;
    box-shadow: rgb(97, 119, 62);
    font-family: 'Bitter', serif;
    text-shadow: 2px 2px 4px #f0f1de;
    box-shadow:2px 2px 4px whitesmoke;
}
.btn-div>button:hover{
    background-color:  rgb(122, 122, 112);
    box-shadow:2px 2px 4px rgb(20, 11, 11);
}

.operation{
    display: flex;
    justify-content: space-between;
}
.note
{
   display: inline-block;
   margin: 2%;
}
.operation>button 
{
    background-color:rgb(122, 122, 112);
    padding: 5px;
    margin:0 1vh 0 1vh;
    border-radius: 6px;
    box-shadow: rgb(97, 119, 62);
    cursor: pointer;
}
.note>textarea{
    display: inline;
    overflow-x: hidden;
}
img{
    height: 15px;
    
}
.operation>button:hover{
    background-color:rgb(97, 119, 62);
   border-color:rgb(104, 223, 130);
}
.hidden
{
    display: none;
}
 textarea
{
    height: 200px;
    width: 200px;
    border-radius: 5px;
}